{% extends 'base.html' %}
{% block content %}
{% if info %}
<br/>
<div class="alert alert-danger text-center" role="alert">
    {{ info }}
</div>
{% endif %}
<br/>

<h1>Create product: </h1>
<br/>
<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="input-group mb-3">
        <input placeholder="Title" aria-label="Recipient's username" aria-describedby="basic-addon2" class="form-control" type="text", name="title"/>
    </div>

    <div class="input-group mb-3">
        <input placeholder="Body" aria-label="Recipient's username" height="300" aria-describedby="basic-addon2" class="form-control" type="text", name="body"/>
    </div>
    <div class="input-group mb-3">
        <input placeholder="URL" aria-label="Recipient's username" aria-describedby="basic-addon2" class="form-control" type="text", name="url"/>
    </div>
    <div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupFile01">Picture</label>
  <input type="file" class="form-control" id="inputGroupFile01" name="picture">
</div>
    <div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupFile02">Icon</label>
  <input type="file" class="form-control" id="inputGroupFile02" name="icon">
</div>

    <br/>
    <input class="btn btn-dark" type="submit" value="Add product!"/>

</form>

{% endblock %}



