{% extends 'base.html' %}
{% block content %}
{% if info %}
<br/>
<div class="alert alert-danger text-center" role="alert">
    {{ info }}
</div>
{% endif %}
<br/>
<div class="row pt-3">

    <div class="col-3">
        <img src="{{ product.icon.url }}" class="img-fluid" />
    </div>
    <div class="col-9">
        <br/>
        <a href="{{ product.url }}"><h1>{{ product.title }}</h1></a>
    </div>
</div>
<div class="row pt-3">

    <div class="col-10">
        <img src="{{ product.picture.url }}" class="img-fluid"  />
    </div>

    <div class="col-2 text-end">
        <a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}"><button type="button" class="btn btn-secondary btn-lg"><i class="bi bi-hand-thumbs-up"></i> Upvote {{ product.votes_total }}</button></a>

    </div>
</div>
<div class="row pt-3">

    <div class="col-5">
        <h4><i class="bi bi-person-fill"></i> Hunted by {{ product.hunter.username }}</h4>
    </div>

    <div class="col-5 text-end">
        <h4><i class="bi bi-calendar3"></i>  {{ product.pub_date_pretty }}</h4>
    </div>
</div>
<div class="row pt-3">

    <div class="col-10">
        <p>{{ product.body }}</p>
    </div>
</div>
<form method="POST" action="{% url 'upvote' product.id %}" id="upvote{{ product.id }}">
    {% csrf_token %}
    <input type="hidden">
</form>

{% endblock %}