{% extends 'base.html' %}
{% block content %}
{% if info %}
<div class="alert alert-success text-center" role="alert">
    {{ info }}
</div>
{% endif %}
{% for product in products.all %}
<div class="container row">
<div class="row pt-3">
    <div class="col-3" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
        <img class="img-fluid"  src="{{ product.icon.url }}">
    </div>
    <div class="col-7" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
    <h3>{{ product.title }} </h3>
        <p>{{ product.summary }}</p>
    </div>
    <div class="col-2">
        <br>
        <a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}"><button type="button" class="btn btn-secondary btn-lg"><i class="bi bi-hand-thumbs-up"></i> Upvote {{ product.votes_total }}</button></a>
   </div>
</div>
</div>

<form method="POST" action="{% url 'upvote' product.id %}" id="upvote{{ product.id }}">
    {% csrf_token %}
    <input type="hidden">
</form>
{% endfor %}
{% endblock %}